{% extends "banka/layout.html" %}
{% block title %}Registrace{% endblock %}
{% block body %}
<div class="content-box">
  <h3 class="mb-3">Registrace uživatele</h3>
  <form method="post" class="border-0 p-4 rounded shadow-sm bg-light">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
          <div class="text-danger small">{{ field.errors }}</div>
          {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Zaregistrovat</button>
  </form>
</div>
{% endblock %}