{% extends "users/layout.html" %}
{% block title %}Přihlášení{% endblock %}
{% block body %}
<div class="content-box">
    <h1>Log In</h1>
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="form-control mb-2">
        <input type="password" name="password" placeholder="Password" class="form-control mb-3">
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>
{% endblock %}